#greetings {
    color: #00FF00;
}

.spot {
    position:absolute;
    display: inline-block;
    background-color: #008B8B;
    color:white;
    font-size:20px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    height: 50px;
    width: 50px;
    border-radius:75px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

.hidden {
    display:none;
}

.empty{
    background-color: red;
}